* {
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

.container{
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5 linear;
    width: 100vw;
    min-height: 72vh;
    padding: 50px;
    transition: all 0.4s ease;
}

.container.show-nav{
    transform: rotate(-20deg);
}

.circle-contanier{
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle{
    background-color: #F5E9CF;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5 linear;
}

.container.shownav .circle{
    transform: rotate(-100deg);
}

.displaynone{
    display: none;
}

.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 2.2rem;
    cursor: pointer;
}

.circle button:focus{
    outline: none;
}

.circle button#open{
    left: 60%;
}

.circle button#close{
    display: hidden;
    top: 60%;
    transform: rotate(90deg) translate(10px, -75px);
    transform-origin: top left;
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.2s;
}

nav{
    position: fixed;
    bottom: 40px;
    left: 0px;
    z-index: 100;
    transition: all 0.3s ease;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
    cursor: pointer;
}

nav ul li i{
    font-size: 20px;
    margin: 0 10px 0 0;
}

nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

.content img { 
    width: 30%;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
}

figure{
    margin: 25px 0;
}

.content{
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
}

.content h1{
    margin: 0;
}

.content small{
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}
